.app__confirmed-booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

.app__confirmed-booking h1 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--green);
    margin-bottom: 2rem;
}

.app__confirmed-booking-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}