.login-container h1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    /* border: 1px solid red; */
    padding: 15px;
    /* background-color: #495E57; */
    /* box-sizing: border-box; */
    font-family: 'Markazi Text', serif;
    background-color: #495e57;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    /* border: 1px solid red; */
    padding: 15px;
    /* background-color: #495E57; */
    /* box-sizing: border-box; */
    font-family: 'Markazi Text', serif;
}
.form-control {
    position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form-control input {
    outline: 0;
    background: #495e57;
    width: 100%;
    border: 0;
    border-radius: 15px;
    padding: 15px;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

.form button {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #F4CE14;
    color: #FFFF;
    font-size: 14px;
    --webkit-transition: all 0.3 ease;
    cursor: pointer;
}

.form button:active {
    background: aliceblue;
}

.form p.error {
    margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}